/*@import 'juxtaposejs/build/css/juxtapose.css';*/
@import '@splidejs/splide/dist/css/splide.min.css';
@import 'glightbox/dist/css/glightbox.min.css';
@import 'image-compare-viewer/dist/image-compare-viewer.min.css';

.shortcode_youtube {
    display: block;
    margin-top: 8px;
    background-color: black;
    border-radius: 0.5rem;
    max-width: 1085px;
}

.shortcode_youtube > iframe {
    width: 100%;
    height: 100%;
    max-height: 480px;
    border-radius: 0.5rem;
}

.shortcode_spotify {
    width: 100%;
    max-width: 1080px;
    margin-top: 8px;
    border-radius: 0.5rem;
    height: 96px;
}

.shortcode_faq {
    position: relative;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .15s ease-in-out;
    overflow: hidden;
    background-color: #F3F4F6;
    border-radius: 0.3rem;
}

.shortcode_faq > summary {
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem;
    background: transparent;
}

.shortcode_faq > summary > span {
    margin-left: .5rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: #1f2937;
}

.shortcode_faq > p {
    margin: 0 !important;
    padding: .5rem 2rem;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 30px;
}

html.dark .shortcode_faq {
    background-color: #090909;
}

html.dark .shortcode_faq > summary > span {
    color: #eaeaea;
}

.shortcode_spoiler {
    display: block;
    margin-bottom: 4px;
}

.shortcode_spoiler > details {
    border-width: 4px;
    border-color: #DC2626;
}

.shortcode_spoiler > details > summary {
    text-align: center;
    color: #FFFFFF;
    background-color: #DC2626;
    cursor: pointer;
}

.shortcode_spoiler > details > span {
    display: block;
    padding: 0.75rem;
    background-color: #F3F4F6;
    color: #1F2937;
}

.shortcode_facebook {
    display: block !important;
    background-color: white !important;
}

/* DISTICO */
.shortcode_distico {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 1.5rem 0;
    text-align: right;
    background-color: #f4f4f5;
}

.dark .shortcode_distico {
    background-color: #27272a;
}

@media (min-width: 768px) {
    .shortcode_distico {
        float: left;
        max-width: 14rem;
        margin: 0.5rem 2rem;
        text-align: left;
    }

    .shortcode_distico > .shortcode_distico_border {
        left: -8px;
    }
}

.shortcode_distico > .shortcode_distico_border {
    height: 16px;
    width: 4rem;
    background-color: #dc2626;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
}

.shortcode_distico > .shortcode_distico_container {
    padding: 2rem 1rem;
    overflow-wrap: break-word;
}

/* BUTTON */
a.shortcode_button {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

a.shortcode_button.primary {
    color: #fff;
    background: #DC2626;
}

a.shortcode_button.primary:hover {
    background: #b91c1c;
}

a.shortcode_button.secondary {
    color: #1f2937;
    background: #e5e7eb;
}

a.shortcode_button.secondary:hover {
    background: #d1d5db;
}

/* WIDGETBAY */
.shortcode_widgetbay {
    height: 410px;
}

/* x 150px */
.shortcode_widgetbay_list_2 {
    height: 300px
}

.shortcode_widgetbay_list_3 {
    height: 450px
}

.shortcode_widgetbay_list_4 {
    height: 600px
}

.shortcode_widgetbay_list_5 {
    height: 750px
}

.shortcode_widgetbay_list_6 {
    height: 864px
}

.shortcode_widgetbay_list_7 {
    height: 1000px
}

.shortcode_widgetbay_list_8 {
    height: 1130px
}

.shortcode_widgetbay_list_9 {
    height: 1270px
}

.shortcode_widgetbay_list_10 {
    height: 1410px
}

@media (min-width: 405px) {

    /* x 135px */
    .shortcode_widgetbay_list_2 {
        height: 270px
    }

    .shortcode_widgetbay_list_3 {
        height: 405px
    }

    .shortcode_widgetbay_list_4 {
        height: 540px
    }

    .shortcode_widgetbay_list_5 {
        height: 675px
    }

    .shortcode_widgetbay_list_6 {
        height: 810px
    }

    .shortcode_widgetbay_list_7 {
        height: 945px
    }

    .shortcode_widgetbay_list_8 {
        height: 1080px
    }

    .shortcode_widgetbay_list_9 {
        height: 1215px
    }

    .shortcode_widgetbay_list_10 {
        height: 1350px
    }
}

@media (min-width: 451px) {
    .shortcode_widgetbay {
        height: 378px;
    }
}

@media (min-width: 647px) {
    .shortcode_widgetbay {
        height: 215px;
    }

    /* x 92px */
    .shortcode_widgetbay_list_2 {
        height: 184px
    }

    .shortcode_widgetbay_list_3 {
        height: 276px
    }

    .shortcode_widgetbay_list_4 {
        height: 368px
    }

    .shortcode_widgetbay_list_5 {
        height: 460px
    }

    .shortcode_widgetbay_list_6 {
        height: 552px
    }

    .shortcode_widgetbay_list_7 {
        height: 644px
    }

    .shortcode_widgetbay_list_8 {
        height: 736px
    }

    .shortcode_widgetbay_list_9 {
        height: 828px
    }

    .shortcode_widgetbay_list_10 {
        height: 920px
    }
}

/* WIDGETBAY  HERO */
/* + 135 */
.shortcode_widgetbay_list_hero_2 {
    height: 550px
}

.shortcode_widgetbay_list_hero_3 {
    height: 685px
}

.shortcode_widgetbay_list_hero_4 {
    height: 820px
}

.shortcode_widgetbay_list_hero_5 {
    height: 955px
}

.shortcode_widgetbay_list_hero_6 {
    height: 1090px
}

.shortcode_widgetbay_list_hero_7 {
    height: 1225px
}

.shortcode_widgetbay_list_hero_8 {
    height: 1360px
}

.shortcode_widgetbay_list_hero_9 {
    height: 1495px
}

.shortcode_widgetbay_list_hero_10 {
    height: 1630px
}

@media (min-width: 405px) {

    /* + 135px */
    .shortcode_widgetbay_list_hero_2 {
        height: 535px
    }

    .shortcode_widgetbay_list_hero_3 {
        height: 670px
    }

    .shortcode_widgetbay_list_hero_4 {
        height: 805px
    }

    .shortcode_widgetbay_list_hero_5 {
        height: 940px
    }

    .shortcode_widgetbay_list_hero_6 {
        height: 1070px
    }

    .shortcode_widgetbay_list_hero_7 {
        height: 1205px
    }

    .shortcode_widgetbay_list_hero_8 {
        height: 1340px
    }

    .shortcode_widgetbay_list_hero_9 {
        height: 1475px
    }

    .shortcode_widgetbay_list_hero_10 {
        height: 1610px
    }
}

@media (min-width: 647px) {

    /* + 90 */
    .shortcode_widgetbay_list_hero_2 {
        height: 305px
    }

    .shortcode_widgetbay_list_hero_3 {
        height: 395px
    }

    .shortcode_widgetbay_list_hero_4 {
        height: 485px
    }

    .shortcode_widgetbay_list_hero_5 {
        height: 575px
    }

    .shortcode_widgetbay_list_hero_6 {
        height: 665px
    }

    .shortcode_widgetbay_list_hero_7 {
        height: 755px
    }

    .shortcode_widgetbay_list_hero_8 {
        height: 845px
    }

    .shortcode_widgetbay_list_hero_9 {
        height: 935px
    }

    .shortcode_widgetbay_list_hero_10 {
        height: 1025px
    }
}

/*TMDB*/

.shortcode_tmdb {
    width: 100%;
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .20);
}

.shortcode_tmdb_bg {
    background: white;
    position: relative;
    padding: 2rem;
    z-index: 2;
}

.shortcode_tmdb .top-box {
    display: flex;
    align-items: center;
}

.shortcode_tmdb .top-box .movie-poster {
    width: 120px;
}

.shortcode_tmdb .top-box .movie-poster img {
    margin: 0;
}

.shortcode_tmdb .top-box .movie-info {
    margin-left: 20px;
}

.shortcode_tmdb .movie-poster-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    z-index: 1;
}

.shortcode_tmdb .top-box .movie-info h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    color: #374151;
}

.shortcode_tmdb .top-box .movie-info .release-date {
    font-size: .95rem;
    color: #6B7280 !important;
    text-transform: uppercase;
}

html.dark .shortcode_tmdb .top-box .movie-info .release-date {
    color: #6B7280 !important;
}

.shortcode_tmdb .top-box .movie-info .runtime-page-container {
    display: flex;
    margin: 10px 0;
}

.shortcode_tmdb .top-box .movie-info .runtime {
    border: 2px solid #6B7280;
    padding: 1px 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;
}

.shortcode_tmdb .top-box .movie-info .go-to-page {
    background-color: #EF4444;
    color: white;
    font-weight: 400;
    font-size: .95rem;
    padding: 0 50px;
    display: flex;
    margin-left: 10px;
    border-radius: .35rem;
    text-decoration: none;
    transition: all .2s;
}

.shortcode_tmdb .top-box .movie-info .go-to-page:hover {
    background-color: #c02f2f;

}

.shortcode_tmdb .top-box .movie-info .go-to-page span {
    margin: auto;
}

.shortcode_tmdb .top-box .movie-info .genres {
    color: #9CA3AF;
    font-size: .95rem;
}

.shortcode_tmdb .bottom-box {
    width: 90%;
}

.shortcode_tmdb .bottom-box p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.shortcode_tmdb .bottom-box .justwatch-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.shortcode_tmdb .bottom-box .justwatch-logo-box {
    font-size: 11px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.shortcode_tmdb .bottom-box .justwatch-logo-box img {
    display: inline-block;
    width: 66px;
    height: 10px;
    margin-left: 3px;
}

.twitter-card blockquote,
.bsky-card blockquote {
    display: none;
}

.shortcode_index .ul-level-3 {
    list-style: circle;
}

.shortcode_index .level-3 {
    padding-left: 3rem;
}

.shortcode_index .ul-level-4 {
    list-style: square;
}

.shortcode_index .level-4 {
    padding-left: 4rem;
}


/*Splide*/
.splide__arrow.splide__arrow--next, .splide__arrow.splide__arrow--prev {
    background-color: #fff !important;
    scale: .75 !important;
    padding: 10px !important;
}

.splide__track {
    padding: 0 !important;
}

.splide {
    /*max-width: 80%;*/
    margin: 0 auto;
}

.splide__slide {
    padding: 5px !important;
}

.splide_pag {
    transform: translateY(50px);
    font-size: .85rem;
}

/* No Cookie Banner */
.shortcode_nocookie {
    display: block;
    margin-top: 8px;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

html.dark .shortcode_nocookie {
    background-color: #090909;
}

.instagram-media {
    margin: auto !important;
}

@media (prefers-color-scheme: dark) {

    .shortcode_tmdb {
        background: white;
    }

    .shortcode_tmdb .top-box .movie-info h3 {
        color: #ffffff;
    }

    .shortcode_tmdb .top-box .movie-info .release-date {
        color: #d7d7d7;
    }

    .shortcode_tmdb .top-box .movie-info .runtime {
        border: 2px solid #ababab;
        color: #ababab;
    }

    .shortcode_tmdb .bottom-box .justwatch-logo-box {
        color: white;
    }

    .shortcode_tmdb .bottom-box .justwatch-logo-box span {
        background: url("https://widget.justwatch.com/assets/JW_logo_color_10px.svg");
    }

    .shortcode_faq {
        background-color: #090909;
    }

    .shortcode_faq > summary > span {
        color: #eaeaea;
    }

}


@media screen and (max-width: 520px) {
    .shortcode_tmdb {
        background: linear-gradient(90deg, #F3F4F6 0%, #F3F4F6 60%, rgba(255, 255, 255, 0.6) 100%);
    }

    @media (prefers-color-scheme: dark) {
        .shortcode_tmdb {
            background: linear-gradient(90deg, black 0%, black 60%, rgba(0, 0, 0, 0.6) 100%);
        }
    }

    .shortcode_tmdb .top-box .movie-info .go-to-page {
        font-size: .9rem;
        padding: 0 20px;
    }

    .shortcode_tmdb .bottom-box {
        width: 100%;
    }

    .shortcode_tmdb .bottom-box .justwatch-box {
        flex-direction: column;
        align-items: start;
    }

}

/** Stretched Link */
.relative {
    position: relative;
}

.stretched-link::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    background: transparent;
    pointer-events: auto;
}
