@import '@splidejs/splide/dist/css/splide.min.css';

.shortcode_youtube {
    display: block;
    margin-top: 8px;
    background-color: black;
    border-radius: 0.5rem;
    max-width: 1085px;
}

.shortcode_youtube > iframe {
    width: 100%;
    height: 100%;
    max-height: 480px;
    border-radius: 0.5rem;
}

.shortcode_spotify {
    width: 100%;
    max-width: 1080px;
    margin-top: 8px;
    border-radius: 0.5rem;
    height: 96px;
}

.shortcode_faq {
    position: relative;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 150ms ease-in-out;
    overflow: hidden;
}

.shortcode_faq > summary {
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    background: #f4f4f5;
    padding: .5rem;
}

.shortcode_faq > summary > span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: #1f2937;
}

.shortcode_faq > p {
    padding: 1rem;
    overflow: hidden;
}

.shortcode_spoiler {
    display: block;
    margin-bottom: 4px;
}

.shortcode_spoiler > details {
    border-width: 4px;
    border-color: #DC2626;
}

.shortcode_spoiler > details > summary {
    text-align: center;
    color: #FFFFFF;
    background-color: #DC2626;
    cursor: pointer;
}

.shortcode_spoiler > details > span {
    display: block;
    padding: 0.75rem;
    background-color: #F3F4F6;
    color: #1F2937;
}

.shortcode_facebook {
    display: block;
}

/* DISTICO */
.shortcode_distico {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 1.5rem 0;
    text-align: right;
    background-color: #f4f4f5;
}

.dark .shortcode_distico {
    background-color: #27272a;
}

@media (min-width: 768px) {
    .shortcode_distico {
        float: left;
        max-width: 14rem;
        margin: 0.5rem 2rem;
        text-align: left;
    }

    .shortcode_distico > .shortcode_distico_border {
        left: -8px;
    }
}

.shortcode_distico > .shortcode_distico_border {
    height: 16px;
    width: 4rem;
    background-color: #dc2626;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
}

.shortcode_distico > .shortcode_distico_container {
    padding: 2rem 1rem;
}

/* BUTTON */
a.shortcode_button {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

a.shortcode_button.primary {
    color: #fff;
    background: #DC2626;
}

a.shortcode_button.primary:hover {
    background: #b91c1c;
}

a.shortcode_button.secondary {
    color: #1f2937;
    background: #e5e7eb;
}

a.shortcode_button.secondary:hover {
    background: #d1d5db;
}

/* WIDGETBAY */
.shortcode_widgetbay {
    height: 420px;
}

@media (min-width: 647px) {
    .shortcode_widgetbay {
        height: 220px;
    }
}

/*TMDB*/

.shortcode_tmdb {
    width: 100%;
    background: linear-gradient(90deg, #F3F4F6 0%, #F3F4F6 63%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    padding: 2rem;
    border-radius: .6rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .20);
}

.shortcode_tmdb .top-box {
    display: flex;
    align-items: center;
}

.shortcode_tmdb .top-box .movie-poster {
    width: 120px;
}

.shortcode_tmdb .top-box .movie-poster img {
    margin: 0;
}

.shortcode_tmdb .top-box .movie-info {
    margin-left: 20px;
}

.shortcode_tmdb .movie-poster-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    z-index: -1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.shortcode_tmdb .top-box .movie-info h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    color: #374151;
}

.shortcode_tmdb .top-box .movie-info .release-date {
    font-size: .95rem;
    color: #6B7280;
    text-transform: uppercase;
}

.shortcode_tmdb .top-box .movie-info .runtime-page-container {
    display: flex;
    margin: 10px 0;
}

.shortcode_tmdb .top-box .movie-info .runtime {
    border: 2px solid #6B7280;
    padding: 1px 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;
}

.shortcode_tmdb .top-box .movie-info .go-to-page {
    background-color: #EF4444;
    color: white;
    font-weight: 400;
    font-size: .95rem;
    padding: 0 50px;
    display: flex;
    margin-left: 10px;
    border-radius: .35rem;
    text-decoration: none;
    transition: all .2s;
}

.shortcode_tmdb .top-box .movie-info .go-to-page:hover {
    background-color: #c02f2f;

}

.shortcode_tmdb .top-box .movie-info .go-to-page span {
    margin: auto;
}

.shortcode_tmdb .top-box .movie-info .genres {
    color: #9CA3AF;
    font-size: .95rem;
}

.shortcode_tmdb .bottom-box {
    width: 80%;
}

.shortcode_tmdb .bottom-box p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.shortcode_tmdb .bottom-box .justwatch-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.shortcode_tmdb .bottom-box .justwatch-logo-box {
    font-size: 11px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.shortcode_tmdb .bottom-box .justwatch-logo-box img {
    display: inline-block;
    width: 66px;
    height: 10px;
    margin-left: 3px;
}

@media (prefers-color-scheme: dark) {

    .shortcode_tmdb {
        background: linear-gradient(90deg, black 0%, black 63%, rgba(0, 0, 0, 0) 100%);
    }

    .shortcode_tmdb .top-box .movie-info h3 {
        color: #ffffff;
    }

    .shortcode_tmdb .top-box .movie-info .release-date {
        color: #d7d7d7;
    }

    .shortcode_tmdb .top-box .movie-info .runtime {
        border: 2px solid #ababab;
        color: #ababab;
    }

    .shortcode_tmdb .bottom-box .justwatch-logo-box {
        color: white;
    }

    .shortcode_tmdb .bottom-box .justwatch-logo-box span {
        background: url("https://widget.justwatch.com/assets/JW_logo_color_10px.svg");
    }
}


@media screen and (max-width: 520px) {
    .shortcode_tmdb {
        background: linear-gradient(90deg, #F3F4F6 0%, #F3F4F6 60%, rgba(255, 255, 255, 0.6) 100%);
    }

    @media (prefers-color-scheme: dark) {
        .shortcode_tmdb {
            background: linear-gradient(90deg, black 0%, black 60%, rgba(0, 0, 0, 0.6) 100%);
        }
    }

    .shortcode_tmdb .top-box .movie-info .go-to-page {
        font-size: .9rem;
        padding: 0 20px;
    }

    .shortcode_tmdb .bottom-box {
        width: 100%;
    }

    .shortcode_tmdb .bottom-box .justwatch-box {
        flex-direction: column;
        align-items: start;
    }

}
